 .navbar {
  margin-bottom: 0 !important;
  border-radius: 0;
  background-color: #FDFDFD !important;
  border: none !important;
}

.navbar .navbar-inverse{
  margin-bottom: 0;
}

div.container-fluid {
  height: 60px;
}

div.navbar-header {
  height:inherit;
}


ul.nav.navbar-nav {
  height: 60px;
}

a {
  height: 60px;
}

.dropdown-menu>li>a:hover{
  border-radius: 25px;
  background-color: gainsboro;
  width: 95%;
  margin: 5px 5px 5px 10px;

}

.navbar .navbar-brand {
  background-color:#8190A5;
  height: 100%;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 950px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.col-md-4 {
  background-color:#00A9A5;
}

.btn-block {
  margin: 70px 0 70px 0;
  background-color: #0B5351; 
  color: #FFF;
  border:none;
  border-radius:25px;
}

.col-md-8 {
  background-color:#F5ECE0; 
  height: 100%
}

.glyphicon {
  color: black;
}

.search-container {
  margin-left:-15px;
  width:104%;
  height : 10%;
  background-color: #0B5351;
  overflow:auto;
}

.stylish-input-group {
  margin: 25px 10px 0 25px;
}
.feed-container {
  overflow: auto;
  display:block;
}
.feed-item {
  width: 80%;
  height: 20%;
  margin:auto;
  background-color: #F7FAF8;
}

.feed-profile-image-container {
  width: 60px;
  height: 60px;
  margin: 5px 5px 5px 10px;
  float: left;
}

.feed-profile-image {
  width: inherit;
  height: inherit;
}

.feed-user-points {
  margin: 5px 5px 5px 10px;
}

.feed-user-headline-container {
  margin: 5px 0 0 10px;
  display:flex;
}

.feed-user-details-container {
  border-radius: 25px;
  background-color: #FDE2C9;
  margin: 5x 0 10px 10px;
  float: center;
  width: 95%;
  height:65px;
}

h3 {
  font-size: 35px;
}

h4 {
  margin: 10px 0px 0px 18px;
  padding-top: 5px;
}

p{
  margin: 5px 5px 5px 10px;
  padding: 0px 0px 10px 17px;
}
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;} 
}

