.tab-content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  width: 100%;
  background: white;
}

#tab_content_wrapper {
  width: 100%;

}
