
#users.page-index {
  article.container {
    background: transparent;

    .media {
      padding: 15px;
    }
  }


  .feed_box {
    width: 100%;
    padding: 1% 1% 1% 1%;
    border: 0;
  }

  .ranking_container {
      position: relative;
  }

  .star {
    padding: 0% .5% 0% 0%;
    width: 3.5%;
    height: auto;
    float: left;
  }

  .center_ranking {
      padding: 1% 0% 0% 1%;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      text-align: left;
      font-size: 60%;
    }

  .user_icon {
    width: 10%;
    padding: 1% 2% 1% 0%;
    height: auto;
  }

  .user_info {
    font-size: 200%;
    color: #47525E;
  }

  .tag_name{
    font-size: 120%;
    font-weight: bold;
    color: #47525E;
  }

  .tag_description{
    font-size: 100%;
    color: #47525E;
  }

  .btn-default {
    color: #47525E;
    background-color: #FFC1B8;
    width: 100%;
    border: 0;
  }

  .btn-default:hover {
    color: #47525E;
    background-color: #FFA093;
    width: 100%;
    border: 0;
  }

}

#registrations.page-default {
  #main-content > .container { background: #F5ECE0; }
  #main {
    max-width: $screen-xl;
    background: #F5ECE0; 
  }
}
