<article class="container">
  <div class="container container-md">
    <div class="form-group">
      <lanel>First Name</lanel>
      <span class="form-control">
        <%= @user.first_name %>
      </span>
    </div>

    <div class="form-group">
      <lanel>Last Name</lanel>
      <span class="form-control">
        <%= @user.last_name %>
      </span>
    </div>

    <div class="form-group">
      <lanel>biography</lanel>
      <span class="form-control">
        <%= @user.biography %>
      </span>
    </div>
  </div>
</article>
