<html>
<div class="panel panel-default feed_box">
  <div class="panel-body">
    <div class="media">
      <div class="media-left media-top user_icon" >
        <%= image_tag 'icon.svg', alt: 'Photo' %>
      </div>
      <div class="media-body">
        <div>
          <div class="ranking_container">
            <div class="star"><%= image_tag 'star.svg', alt: 'Photo' %></div>
            <div class="center_ranking">23</div>
          </div>

          <h4 class="media-heading user_info">Mubiyna can help with:</h4>
        </div>
        <button type="button" class="btn btn-default">
          <p align="left" class="tag_name">Ruby on Rails</p>
          <p align="left" class="tag_description">I have a lot of experience working in Ruby on Rails at hackathons!</p>
        </button>
      </div>
    </div>
  </div>
</div>
</html>