#header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: $header-index;
  height: $header-height;
  min-width: $screen-xs;
  backface-visibility: hidden;
  background: $header-background;
  border-bottom: 1px solid rgba(0,0,0,.05);

  nav > div {
    padding: 0;
  }
  nav > div > ul {
    margin: 0;
    @extend .list-inline;
    @extend .list-unstyled;
  }
  nav > div > ul > li {
    padding: 0;
    line-height: $header-height;
  }
  nav > div > ul > li > a {
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
  }
}

#session_header {
  background: white;
}
