
h4 {
  padding: 0% 0% 5% 0%;
   color: #47525E;
   font-size: 175%;
}

.info {
  padding: 0% 0% 5% 0%;
   color: #47525E;
   font-size: 90%;
}

.small-info {
  padding: 0% 0% 5% 0%;
   color: #47525E;
   font-size: 75%;
}

.modal-header {
  border: 0;
  padding: 10% 20% 7% 20%;
  background-color: #F5ECE0;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-dialog{
  width: 40%;
}

.modal-footer {
  border: 0;
  padding: 0% 30% 10% 30%;
   background-color: #F5ECE0;
  
  -webkit-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}

.inputfield{
  margin: 5% 0% 5% 0%;
  width: 80%;
  border: 0;
  box-shadow: none;
}

.submit{
  margin: 0% 0% 5% 0%;
  width: 80%;
  border: 0;
  color: #00A9A5;
}

.btn-default {
  color: white;
  background-color: #00A9A5;
  }

.btn-default:hover {
  color: white;
  background-color: #058E8B;
}
