<footer class="footer-basic-centered" style="margin-top: 20px; font-size: 20px; font-family: Helvetica;">
			<p class="footer-company-motto">Ladder</p>

			<p class="footer-links">
				<a href="#">Home</a>
				路
				<a href="#">About</a>
				路
				<a href="#">About</a>
				路
				<a href="#">Faq</a>
				路
				<a href="#">Contact US</a>
			</p>

			<p class="footer-company-name">Ladder &copy; 2017</p>

		</footer>
</footer>