<nav id="non_session_header">
  <ul class="pull-right">
    <li>
      <%= link_to t('.register'), new_user_registration_path %>
    </li>
    <li>
      <%= link_to t('.login'), new_user_session_path %>
    </li>
  </ul>
</nav>
