<nav id="session_header">
  <div class="container container-lg">
    <ul class="pull-left">
      <li>
        <%= link_to t('global.title'), root_path, class: 'brand' %>
      </li>
    </ul>

    <ul class="pull-right">
      <li class="hidden-screen-md">
        <%= link_to 'Logout', destroy_user_session_path, 'data-method' => 'delete' %>
      </li>
      <li class="hidden-screen-md">
        <%= link_to 'Account', edit_user_registration_path %>
      </li>
      <li class="visible-screen-md">
        <a class="toggle-aside">
          <i class="fa fa-bars"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
